* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row {
  --bs-gutter-x: 0; }

body {
  overflow-x: hidden; }

body.active {
  overflow: hidden; }

.overlay {
  display: none;
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: #000;
  opacity: .5;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.overlay.active {
  display: block; }

p, ul {
  margin-bottom: 0 !important; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

input::-webkit-input-placeholder {
  color: white; }

.header-top {
  padding: 15px 0;
  background-color: #F6F6F6; }
  .header-top svg {
    width: 13px; }

.header-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-list__item {
    list-style: none;
    margin-right: 40px; }
    .header-list__item a {
      color: #222222; }

.header-block p:first-child {
  margin-right: 30px; }

.header-nav {
  padding-top: 20px; }
  .header-nav__item:first-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #D6D6D6; }
    .header-nav__item:first-child svg {
      width: 17px;
      margin-left: 60px; }
    .header-nav__item:first-child input {
      border: none;
      outline: none; }
  .header-nav__item:last-child {
    cursor: pointer;
    margin-left: 50px;
    padding: 15px;
    background: -webkit-gradient(linear, left top, right top, from(#fdb806), color-stop(100%, #fd8006), to(#00d4ff));
    background: -o-linear-gradient(left, #fdb806 0%, #fd8006 100%, #00d4ff 100%);
    background: linear-gradient(90deg, #fdb806 0%, #fd8006 100%, #00d4ff 100%); }
    .header-nav__item:last-child svg {
      width: 22px;
      color: #fff; }
  .header-nav__brands {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .header-nav__brands img {
      margin-right: 15px; }
    .header-nav__brands p {
      font-size: 14px; }
  .header-nav__block:nth-child(2) {
    margin-top: 40px; }

.header-item.active {
  z-index: 0; }

.header-item {
  margin-top: 25px;
  z-index: 30; }
  .header-item .container-xl {
    background: url(../img/background-1.png);
    padding: 75px 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; }
  .header-item .carousel {
    position: static; }
  .header-item .carousel-indicators {
    position: absolute;
    right: 0; }
    .header-item .carousel-indicators button {
      padding: 10px 1px;
      border-radius: 100%;
      width: 21px;
      border: 2px solid #fff; }
    .header-item .carousel-indicators button.active {
      background-color: #FD8006; }
  .header-item__block {
    color: #fff;
    margin-left: 55px; }
    .header-item__block h1 {
      font-size: 35px;
      font-weight: bold; }
    .header-item__block h2 {
      font-size: 16px;
      margin: 15px 0 25px; }
      .header-item__block h2 span {
        font-weight: bold; }
    .header-item__block input {
      background: transparent;
      border: 1px solid #FFFFFF;
      outline: none;
      padding: 17px 0 17px 17px; }
    .header-item__block input:first-child {
      margin-right: 10px; }
    .header-item__block p {
      font-size: 13px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      opacity: .5;
      margin-top: 8px; }
      .header-item__block p svg {
        width: 14px;
        margin-right: 8px; }
    .header-item__block a {
      font-weight: bold;
      background: -webkit-gradient(linear, left top, right top, from(#fdb806), color-stop(100%, #fd8006), to(#00d4ff));
      background: -o-linear-gradient(left, #fdb806 0%, #fd8006 100%, #00d4ff 100%);
      background: linear-gradient(90deg, #fdb806 0%, #fd8006 100%, #00d4ff 100%);
      padding: 20px 25px;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      margin-top: 15px;
      display: inline-block; }
      .header-item__block a img {
        margin-right: 6px; }

.header-baskek.active {
  display: block; }

.header-baskek {
  right: 333px;
  display: none;
  position: absolute;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  top: 150px;
  background: #fff;
  width: 500px;
  -webkit-box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.3); }
  .header-baskek__top {
    background: #F7F7F7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0 15px;
    position: relative; }
    .header-baskek__top h2 {
      font-size: 20px;
      color: #222; }
    .header-baskek__top span {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer; }
      .header-baskek__top span svg {
        width: 17px !important; }
  .header-baskek__footer {
    background: #F7F7F7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 110px; }
    .header-baskek__footer p img {
      margin-right: 5px; }
  .header-baskek__body {
    padding: 20px 20px 0; }
    .header-baskek__body-element {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header-baskek__body-element h3 {
        font-size: 15px;
        color: #222;
        margin-left: 20px;
        width: 120px; }
    .header-baskek__body-item {
      border-bottom: 1px solid #D6D6D7;
      padding-bottom: 17px; }
    .header-baskek__body-item:last-child {
      margin-top: 15px; }
    .header-baskek__body-product {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 20px; }
    .header-baskek__body-product:first-child {
      margin-top: 0; }
    .header-baskek__body-element:nth-child(2) span:first-child, .header-baskek__body-element:nth-child(2) span:last-child {
      background: #8BB655;
      width: 25px;
      height: 25px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #fff; }
    .header-baskek__body-element:nth-child(2) span:nth-child(2) {
      margin: 0 10px; }
    .header-baskek__body-element:last-child span:first-child {
      color: #FD8006;
      margin-right: 25px;
      font-size: 18px;
      font-weight: 500; }
    .header-baskek__body-element:last-child span svg {
      width: 10px !important; }
    .header-baskek__body-element:nth-child(1) p:first-child {
      font-size: 16px;
      font-weight: 500;
      color: #222; }
      .header-baskek__body-element:nth-child(1) p:first-child span {
        font-size: 20px;
        font-weight: 500;
        color: #FD8006; }
    .header-baskek__body-total {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header-baskek__body-total a {
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(-61.02%, #FDB806), color-stop(167.8%, #FD8006)), #FD8006;
        background: -o-linear-gradient(top, #FDB806 -61.02%, #FD8006 167.8%), #FD8006;
        background: linear-gradient(180deg, #FDB806 -61.02%, #FD8006 167.8%), #FD8006;
        border-radius: 1px;
        color: #fff;
        padding: 15px 18px; }
    .header-baskek__body-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 20px; }
      .header-baskek__body-info p {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-size: 14px; }
        .header-baskek__body-info p span {
          background: none !important; }
        .header-baskek__body-info p img {
          width: 18px;
          height: 18px;
          margin-left: -20px;
          cursor: pointer; }
      .header-baskek__body-info p:nth-child(2) span {
        margin-left: 20px; }

.perfume {
  padding-top: 55px; }
  .perfume-discount {
    padding: 5px 10px;
    border: 1px solid #E2E2E2;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    color: #739B41;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0; }
  .perfume-top h2 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px; }
  .perfume-top__item {
    padding-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .perfume-top__item p {
      font-size: 14px;
      border-right: 1px solid #D1D1D1;
      padding-right: 22px;
      margin-right: 25px; }
    .perfume-top__item-block span {
      border: 1px solid #999999;
      font-size: 14px;
      font-weight: 400;
      padding: 10px 65px;
      color: #222;
      cursor: pointer;
      margin-right: 10px;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      margin-top: 10px;
      display: inline-block; }
    .perfume-top__item-block span:hover {
      background: #8BB655;
      border-color: #8BB655;
      color: #fff; }
    .perfume-top__item-block span.active {
      background: #8BB655;
      border-color: #8BB655;
      color: #fff; }
  .perfume-body {
    margin-top: 50px; }
  .perfume-card {
    position: relative;
    width: 25%; }
    .perfume-card__item:first-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -webkit-justify-content: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; }
    .perfume-card__item:nth-child(2) {
      margin-top: 40px; }
      .perfume-card__item:nth-child(2) img {
        display: block;
        margin: 0 auto; }
    .perfume-card__price {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 30px; }
      .perfume-card__price p:first-child {
        margin-right: 10px;
        color: #FD8006;
        font-size: 18px;
        font-weight: 500; }
      .perfume-card__price p:last-child {
        color: #222222;
        font-size: 15px;
        text-decoration: line-through; }
    .perfume-card__preferences {
      margin: 10px 0; }
      .perfume-card__preferences img {
        margin-right: 15px; }
    .perfume-card__about h3 {
      font-size: 16px;
      color: #222222; }
    .perfume-card__about h4 {
      font-size: 13px;
      color: #7A7A7A; }
    .perfume-card__raiting {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 10px; }
      .perfume-card__raiting svg {
        width: 12px;
        color: #C5C5C5;
        margin-right: 3px;
        cursor: pointer; }
      .perfume-card__raiting svg.active {
        color: #FDB806; }
    .perfume-card__order {
      display: none;
      padding: 6px 12px;
      border-radius: 1px;
      margin-top: 12px;
      background: -webkit-gradient(linear, left top, right top, from(#fdb806), color-stop(100%, #fd8006), to(#00d4ff));
      background: -o-linear-gradient(left, #fdb806 0%, #fd8006 100%, #00d4ff 100%);
      background: linear-gradient(90deg, #fdb806 0%, #fd8006 100%, #00d4ff 100%); }
      .perfume-card__order a {
        color: #fff;
        text-decoration: none; }
        .perfume-card__order a svg {
          width: 12px;
          margin-right: 5px; }
  .perfume-block:last-child {
    margin-top: 45px; }
  .perfume-block {
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .perfume-link {
    color: #222222;
    text-decoration: none;
    padding: 15px 25px;
    border: 1px solid #666;
    display: block;
    width: 204px;
    margin: 50px auto 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .perfume-link svg {
      width: 10px;
      color: #444;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
  .perfume-link:hover {
    border-color: #FFBB3B;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFBB3B), to(#FFA800)), -webkit-gradient(linear, left top, left bottom, color-stop(-61.02%, #D89E08), color-stop(167.8%, #D46B05)), #8BB655;
    background: -o-linear-gradient(top, #FFBB3B 0%, #FFA800 100%), -o-linear-gradient(top, #D89E08 -61.02%, #D46B05 167.8%), #8BB655;
    background: linear-gradient(180deg, #FFBB3B 0%, #FFA800 100%), linear-gradient(180deg, #D89E08 -61.02%, #D46B05 167.8%), #8BB655; }
  .perfume-link:hover > svg {
    color: #fff; }

.cosmetics {
  padding-top: 50px; }
  .cosmetics-title h2 {
    font-size: 30px;
    font-weight: bold;
    color: #222;
    margin-right: 25px; }
  .cosmetics-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .cosmetics-close {
    width: 8px !important;
    color: #AEAEAE; }
  .cosmetics-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .cosmetics-item p {
      margin-right: 3px; }
    .cosmetics-item__element {
      margin-right: 10px;
      cursor: pointer; }
  .cosmetics-item:first-child span {
    cursor: pointer; }
  .cosmetics-item:last-child {
    border: 1px solid #ED2424;
    padding: 10px 20px;
    cursor: pointer; }
    .cosmetics-item:last-child p {
      margin-right: 0;
      color: #ED2424;
      font-size: 14px; }
      .cosmetics-item:last-child p svg {
        color: #ED2424;
        margin-bottom: 3px;
        width: 13px !important; }
  .cosmetics-text {
    color: #FD8006; }
  .cosmetics-filters {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .cosmetics-filter {
    margin-bottom: 55px; }

.subscribe {
  margin-top: 50px; }
  .subscribe .container-xl {
    -webkit-box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.19);
            box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.19);
    padding-left: 0;
    padding-right: 0;
    padding: 20px; }
  .subscribe-block {
    background: url(../img/background-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #DEB84A;
    padding: 65px 0; }
  .subscribe-top h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 750px;
    margin: 0 auto; }
    .subscribe-top h2 span {
      color: #FD8006; }
  .subscribe-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px; }
    .subscribe-body__item form {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .subscribe-body__item form label {
        font-size: 14px;
        color: #222;
        letter-spacing: 1px; }
      .subscribe-body__item form input {
        padding: 9px 50px 9px 15px;
        border: 1px solid #D6D6D6;
        border-radius: 2px;
        margin-top: 5px;
        font-size: 15px;
        color: #7D7D7D; }
    .subscribe-body__item:last-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 20px; }
      .subscribe-body__item:last-child a {
        width: 31%;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(-61.02%, #FDB806), color-stop(167.8%, #FD8006));
        background: -o-linear-gradient(top, #FDB806 -61.02%, #FD8006 167.8%);
        background: linear-gradient(180deg, #FDB806 -61.02%, #FD8006 167.8%);
        -webkit-box-shadow: 0px 4px 13px rgba(255, 126, 0, 0.6);
                box-shadow: 0px 4px 13px rgba(255, 126, 0, 0.6);
        border-radius: 2px;
        padding: 20px 70px 20px 60px; }

.footer {
  background: url("../img/background-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 20px; }
  .footer-block__phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer-block__phone div svg {
      width: 20px; }
    .footer-block__phone div svg:first-child {
      color: #1BD741; }
    .footer-block__phone div svg:nth-child(20) {
      color: #7D3DAF; }
    .footer-block__phone div svg:last-child {
      color: #61A8DE; }
    .footer-block__phone p {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -webkit-align-items: start;
          -ms-flex-align: start;
              align-items: start;
      margin-right: 15px;
      font-size: 18px;
      font-weight: 500; }
      .footer-block__phone p svg {
        margin: 5px 5px 0 0; }
  .footer-block__phone p svg, .footer-block__email p svg, .footer-block__address p svg {
    width: 15px;
    color: #222;
    margin-right: 15px; }
  .footer-block__email, .footer-block__address {
    margin: 20px 0; }
    .footer-block__email p, .footer-block__address p {
      font-size: 15px; }
      .footer-block__email p svg, .footer-block__address p svg {
        margin-right: 5px; }
  .footer-block__address p a {
    color: #8BB655;
    font-weight: 500;
    margin-left: 23px; }
  .footer-block__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: end;
        -ms-flex-pack: end;
            justify-content: end; }
  .footer-block__item-element {
    background: #8BB655;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }
    .footer-block__item-element svg {
      color: #fff; }
  .footer-block__item-element:hover {
    background: #739B41; }
  .footer-block__info h3 {
    color: #222;
    font-size: 15px;
    text-align: right;
    line-height: 1.6em; }
  .footer-block__scroll {
    margin-top: 50px; }
    .footer-block__scroll a {
      color: #fff;
      text-decoration: none;
      background: #8BB655;
      padding: 12px 20px;
      display: inline-block; }
      .footer-block__scroll a svg {
        width: 10px;
        color: #fff; }
  .footer-block:last-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: end;
        -ms-flex-align: end;
            align-items: end; }
  .footer-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-top: 45px; }
    .footer-list__item {
      margin-right: 30px; }
    .footer-list__link {
      font-size: 14px;
      color: #222222; }

.mobile.active {
  width: 100%; }

.mobile {
  display: none;
  width: 100%;
  position: relative;
  z-index: 10;
  top: 0 !important;
  padding: 10px 0 0; }
  .mobile-menu {
    position: absolute;
    top: 10px; }
    .mobile-menu__item {
      position: absolute;
      left: -100%;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
    .mobile-menu__block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: absolute;
      background: #fff;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 10; }
      .mobile-menu__block div:nth-child(2) svg {
        width: 25px; }

.mobile-menu__item.active {
  left: 0; }

.burger-menu {
  position: relative;
  cursor: pointer;
  height: 20px; }

.burger-menu span {
  width: 30px;
  height: 2px;
  background: #000;
  display: block; }

.burger-menu::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  top: 9px; }

.burger-menu::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  bottom: 0; }

@media screen and (max-width: 1220px) {
  .header-block, .header-list li a {
    font-size: 14px; } }

@media screen and (max-width: 1000px) {
  .perfume-card {
    width: 100%; }
  .perfume-card__item {
    width: 250px; }
  .perfume-card__order {
    display: inline-block;
    width: 120px; }
  .footer-block:last-child {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-block:first-child {
    margin-bottom: 20px; }
  .footer-block__email {
    margin: 10px 0 0; }
  .footer-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-block__info h3 {
    text-align: center; } }

@media screen and (max-width: 900px) {
  .header-top__block {
    text-align: center; }
  .header-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px; }
  .header-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .header-block p:last-child {
      margin-top: 10px; }
  .cosmetics-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media screen and (max-width: 800px) {
  .carousel {
    margin-top: 50px; }
  .header-nav__block:first-child {
    display: none; }
    .header-nav__block:first-child div {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .header-nav__brands {
    margin-top: 30px;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start; }
  .header-logo a img {
    display: block;
    margin: 0 auto; }
  .header-baskek {
    display: none; }
  .header-top {
    display: none; }
  .header-element {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .header-item {
    margin-top: 65px; }
    .header-item__block {
      margin-left: 0;
      text-align: center; }
      .header-item__block h1 {
        font-size: 28px; }
      .header-item__block h2 {
        font-size: 14px; }
      .header-item__block input:first-child {
        margin: 0 0 20px; }
      .header-item__block p {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
  .mobile {
    display: block; }
    .mobile-menu__item {
      background: #fff;
      width: 70%;
      height: 1000px;
      overflow: auto;
      border: 1px solid #d6d6d6; }
    .mobile-menu__block {
      padding: 12px 10px; }
      .mobile-menu__block div svg {
        width: 25px; }
    .mobile-menu__list {
      list-style: none;
      padding-top: 15px;
      margin-top: 55px; }
      .mobile-menu__list-item {
        border-bottom: 1px solid #D6D6D6;
        padding-bottom: 15px;
        margin-bottom: 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .mobile-menu__list-item svg {
          width: 6px; }
      .mobile-menu__list-item:last-child {
        border-bottom: none;
        padding-bottom: 0; }
      .mobile-menu__list-link {
        text-decoration: none;
        color: #222;
        font-size: 14px; }
  .perfume-top__item-block span {
    width: 180px;
    padding: 10px 0;
    text-align: center; }
  .perfume-top__item p {
    -webkit-transform: rotate(-90deg) translateY(71px) translateX(9px);
        -ms-transform: rotate(-90deg) translateY(71px) translateX(9px);
            transform: rotate(-90deg) translateY(71px) translateX(9px);
    border: none; }
  .cosmetics .perfume-top__item p {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .subscribe-top h2 {
    width: 90%; }
  .subscribe-body__item:last-child {
    width: 100%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }

@media screen and (max-width: 700px) {
  .cosmetics-top {
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start; }
    .cosmetics-top__item {
      display: block; }
  .cosmetics-filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start; }
  .cosmetics-item:first-child {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start; }
  .subscribe-body__item:last-child a {
    padding: 20px 0;
    text-align: center; } }

@media screen and (max-width: 520px) {
  .perfume-top__item p {
    -webkit-transform: rotate(-90deg) translateY(120px) translateX(9px);
        -ms-transform: rotate(-90deg) translateY(120px) translateX(9px);
            transform: rotate(-90deg) translateY(120px) translateX(9px); }
  .subscribe-body__item:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .subscribe-body__item:last-child a {
      margin-bottom: 20px;
      width: 90%; }
  .subscribe-block {
    background: none; }
  .footer-list {
    padding-left: 0; }
    .footer-list__item:last-child {
      margin-right: 0; } }
